*.ipynb filter=strip-notebook-output
*.npz filter=lfs diff=lfs merge=lfs -text
models/final_cvae_5_classes_ch16_kld50_base_20250722_072739_best filter=lfs diff=lfs merge=lfs -text
models/final_latent_5_cond_encoder_alpha_20_hidden1024_latentdiffusion_20250723_195439_best filter=lfs diff=lfs merge=lfs -text
models/final_latents_cond_encoder_class_spec_norm.pkl filter=lfs diff=lfs merge=lfs -text
models/tune_xor_base_20250710_215919_plus_dropout_cond_encoder_base_20250721_231432_best filter=lfs diff=lfs merge=lfs -text
models/analysis_final_ms_clf_base_20250711_101044_best filter=lfs diff=lfs merge=lfs -text
data/test_data/test3D.npz filter=lfs diff=lfs merge=lfs -text
